body .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 85px;
  height: 100%;
}
body .main-container .shown {
  max-height: 762px !important;
}
body .main-container .service-form {
  width: 100%;
  max-width: 762px;
  max-height: 98px;
  height: 100%;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #001E64;
  margin-top: 24px;
  background-color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: max-height 0.7s;
  transition: max-height 0.7s;
}
body .main-container .service-form__name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-container .service-form__name button {
  width: 27px;
  height: 27px;
  border: none;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-container .service-form__name button .button-plus {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: -30.4px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
body .main-container .service-form__name button .minus {
  -webkit-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
}
body .main-container .service-form__form {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main-container .service-form__form .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .main-container .service-form__form .main-form p {
  font-size: 18px;
  font-weight: 300;
}
body .main-container .service-form__form .main-form form {
  margin-top: 2px;
  width: 100%;
  max-width: 379px;
}
body .main-container .service-form__form .main-form form .textForm {
  max-width: 379px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  margin-top: 5px;
  border-bottom: 2px solid #001E64;
  background-color: #F6FAFD;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #001E64;
}
body .main-container .service-form__form .main-form form .textForm:focus {
  outline: none;
  border: 2px solid #BEE154;
}
body .main-container .service-form__form .main-form form .fileForm {
  margin-top: 7px;
  opacity: 0;
  display: none;
}
body .main-container .service-form__form .main-form form label {
  border: 1px solid #001E64;
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  color: #001E64;
  background-color: #fff;
  font-weight: 300;
  cursor: pointer;
}
body .main-container .service-form__form .main-form form .labelButton {
  background-color: #001E64;
  color: white;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}
body .main-container .service-form__form .main-form form .button-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 360px;
}
body .main-container .service-form__form .main-form form .button-bg .common-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 160px;
}
body .main-container .service-form__form .main-form form .button-bg .common-bg input {
  width: 17px;
  height: 17px;
}
body .main-container .service-form__form .main-form form .button-bg .common-bg p {
  font-size: 16px;
  text-decoration: underline;
}
body .main-container .service-form .card {
  width: 100%;
  max-width: 262px;
  min-height: 360px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 16px;
  padding-bottom: 19px;
  border: 1px solid #001E64;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgb(255, 255, 255);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
body .main-container .service-form .card .hidden {
  display: none;
}
body .main-container .service-form .card .card-in__logo {
  padding: 4px;
  height: 205px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
body .main-container .service-form .card .card-in__logo .flag {
  width: 28px;
  height: 34px;
  cursor: pointer;
}
body .main-container .service-form .card .card-in__logo .false {
  background: url("../src/flag-false.svg") center/cover no-repeat;
}
body .main-container .service-form .card .card-in__logo .true {
  background: url("../src/flag-true.svg") center/cover no-repeat;
}
body .main-container .service-form .card .card-in h3 {
  text-align: center;
  font-weight: 300 !important;
}
body .main-container .service-form .card__info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  min-height: 285px;
}
body .main-container .service-form .card__info p {
  margin-top: 7px;
}
body .main-container .service-form .card__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .main-container .service-form .card__buttons .link-button {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 8px !important;
  background-color: #001E64;
  color: white;
  font-family: "HelventicaNeueCyr";
  font-weight: 200;
  border-radius: 12px;
  border: none;
}
body .main-container .service-form .card__buttons .info-button {
  border: 1px solid #001E64;
  border-radius: 12px;
  padding-right: 12px;
  padding-bottom: 6px !important;
  padding-left: 12px;
  font-family: "Inter";
  color: #001E64;
  background-color: white;
}
body .main-container .service-form .card__buttons .info-button:hover {
  color: white;
  background-color: #001E64;
}
body .main-container .addNewService {
  max-width: 200px;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  background-color: #001E64;
  border: none;
}

#editSelect {
  max-width: 379px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 18px;
  margin-top: 5px;
  border: 2px solid #001E64;
  background-color: #F6FAFD;
  color: #001E64;
  cursor: pointer;
}