// Шрифты
@font-face {
    font-family: 'Inter';
    src: url("../src/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: 'HelventicaNeueCyr';
    src: url("../src/fonts/HelveticaNeueCyr-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: 'HelventicaNeueCyr';
    src: url("../src/fonts/HelveticaNeueCyr-Roman.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'HelventicaNeueCyr';
    src: url("../src/fonts/HelveticaNeueCyr-Medium.ttf");
    font-weight: 400;
}

// Цвета сайта
$green: #BEE154;
$blue: #489FDF;
$dark-blue: #001E64;

// Общие настройки по Ui kit
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    h1 {
        font-family: 'HelventicaNeueCyr';
        font-weight: 400;
        font-size: 32px;
        color: $dark-blue;
    }
    
    h2 {
        font-family: 'HelventicaNeueCyr';
        font-weight: 400;
        font-size: 28px;
        color: $dark-blue;
    }

    h3 {
        font-family: 'HelventicaNeueCyr';
        font-weight: 300;
        font-size: 22px;
        color: $dark-blue;
        line-height: 26px;
    }

    button {
        font-size: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
    }

    section {
        width: 100%;
        max-width: 1152px;
        margin-top: 69px;
    }

    a {
        text-decoration: none;
    }

    p {
        color: $dark-blue;
        font-size: 16px;
        line-height: 20px;
        font-family: 'HelventicaNeueCyr';
        font-weight: 200;
        margin-top: 5px;
    }
}

// Основные стили
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: url('../src/body-snow-back.png') no-repeat;

    nav {
        background-color: $green;
        width: 100%;
        min-height: 61px;
        display: flex;
        align-content: center;
        justify-content: center;

        .nav-text {
            width: 100%;
            max-width: 1152px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .all-services {

        &__all-cards {
            margin-top: 23px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;

            .card {
                width: 100%;
                max-width: 262px;
                min-height: 395px;
                padding-left: 22px;
                padding-right: 22px;
                padding-top: 16px;
                padding-bottom: 19px;
                border: 1px solid $dark-blue;
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 35px;
                background-color: white;

                .hidden {
                    display: none;
                }

                .card-in {
                    &__logo {
                        padding: 4px;
                        margin-bottom: 15px;
                        min-height: 205px;
                        width: 100%;
                        display: flex;
                        justify-content: end;
    
                        .flag-false {
                            background: url("../src/flag-false.svg") center/cover no-repeat;
                            width: 28px;
                            height: 34px;
                            cursor: pointer;
    
                            display: none;
                        }
    
                        .flag-true {
                            background: url("../src/flag-true.svg") center/cover no-repeat;
                            width: 28px;
                            height: 34px;
                            cursor: pointer;
    
                            // display: none;
                        }
                    }
                }

                &__buttons {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    
                    .link-button {
                        padding-left: 52px;
                        padding-right: 52px;
                        background-color: $dark-blue;
                        color: white;
                        font-family: "HelventicaNeueCyr";
                        font-weight: 200;
                        border-radius: 12px;
                        border: none;
                    }

                    .info-button {
                        border: 1px solid $dark-blue;
                        border-radius: 12px;
                        padding-right: 12px;
                        padding-bottom: 6px !important;
                        padding-left: 12px;
                        font-family: 'Inter';
                        color: $dark-blue;
                        background-color: white;

                    }

                    .info-button:hover {
                        color: white;
                        background-color: $dark-blue;
                    }

                }
            }
        }
    }

    footer {
        margin-top: 80px;
        width: 100%;
        min-height: 335px;
        background-color: $dark-blue;
        display: flex;
        justify-content: center;

        .text-div {
            margin-top: 68px;
            width: 100%;
            max-width: 955px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h3 {
                color: white !important;
            }
        }
    }

    .hide-modal {
        display: none !important;
    }
}

// Логотипы в карточках
#official-gradient {
    background: url('../src/official-gradient.png') center/cover no-repeat;
}

#gradient-life {
    background: url('../src/gradient-life.png') center/cover no-repeat;
}

#tg-gradient {
    background: url('../src/tg-gradient.png') center/cover no-repeat;
}

#tg-bot-gradient {
    background: url('../src/tg-bot-gradient.png') center/cover no-repeat;
}

#elma {
    background: url('../src/elma.png') center/cover no-repeat;
}

#servicedesk {
    background: url('../src/servicedesk.png') center/cover no-repeat;
}

#indaspace {
    background: url('../src/indaspace.png') center/cover no-repeat;
}

#c-logo {
    background: url('../src/c-logo.png') center/cover no-repeat;
}

#mis {
    background: url('../src/mis.png') center/cover no-repeat;
}

#el-archive {
    background: url('../src/el-archive.png') center/cover no-repeat;
}

#cloud-gradient {
    background: url('../src/cloud-gradient.png') center/cover no-repeat;
}

#portal-dist {
    background: url('../src/portal-dist.png') center/cover no-repeat;
}

#experium {
    background: url('../src/experium.png') center/cover no-repeat;
}

#gradmart {
    background: url('../src/gradmart.png') center/cover no-repeat;
}

#pro-portal {
    background: url('../src/pro-portal.png') center/cover no-repeat;
}

#pro-decor {
    background: url('../src/pro-decor.png') center/cover no-repeat;
}

#pro-platform {
    background: url('../src/pro-platform.png') center/cover no-repeat;
}

#pro-pim {
    background: url('../src/pro-pim.png') center/cover no-repeat;
}

#famgrad {
    background: url('../src/famgrad.png') center/cover no-repeat;
}

// Модальное окно сотрудника 1C
#modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.70);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .modal {
        width: 30%;
        height: 95%;
        max-width: 560px;
        max-height: 750px;
        background-color: white;

        &__img {
            width: 100%;
            min-height: 200px;
            background: url('../src/modal-win.png') center/cover no-repeat;
            padding: 28px;

            .close-button {
                width: 22px;
                height: 22px;
                background: url('../src/close-button.svg') center/cover no-repeat;
                float: right;
                cursor: pointer;
            }
        }

        h3 {
            text-align: center;
            margin-top: 12px;
            font-weight: 400 !important;
        }

        p {
            padding-left: 40px;
            padding-right: 40px;
            font-size: 18px !important;
            margin-top: 12px;
            line-height: 22px;
        }

        a {
            font-weight: 400;
            text-decoration: underline;
            color: $blue;
            
        }

        a:visited {
            text-decoration: underline;
            color: $dark-blue;
        }
    }
    
}

// Ползунок прокрутки
::-webkit-scrollbar {
    width: 12px;
    height: 4px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: $green;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $dark-blue;
}